header {
    position: relative;
    margin-bottom: 20px;
}

.logout {
    position: absolute;
    right: 10px;
    top: 15px;
    cursor: pointer;
}

.segment.transaction-form-segment {
    width: 40%;
    min-width: 300px;
}

.segment.home-login-segment {
    width: 50%;
    min-width: 400px;
    margin-right: auto;
    margin-left: auto;
}

.pagination img {
    height: 25px;
    position: relative;
    top: 5px;
}

#transactionPagination {
    position: relative;
    bottom: 15px;
}

.pagination .inactive {
    opacity: .3;
    cursor: default;
}


/* Fallback stuff */
progress[value] {
    appearance: none;
    border: none;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
    color: dodgerblue;
    display: inline;
    height: 10px;
    order: 1;
    position: relative;
    width: 100%;
  }
  
  /* WebKit styles */
  progress[value]::-webkit-progress-bar {
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
  }
  
  progress[value]::-webkit-progress-value {
    background-image: linear-gradient(to right, #00c8ff, #8605e2);
    border-radius: 3px;
    position: relative;
    transition: width 0.5s linear;
  }
  

  figcaption {
    align-items: center;
    background: #cccccc;
    display: grid;
    padding: 2px;
  }

  #cont {
    position: fixed;
    bottom: 10px;
    width: 100%;
    left: 0px;
  }
