header {
    position: relative;
    margin-bottom: 20px;
}

.logout {
    position: absolute;
    right: 10px;
    top: 15px;
    cursor: pointer;
}

.segment.transaction-form-segment {
    width: 40%;
    min-width: 300px;
}

.segment.home-login-segment {
    width: 50%;
    min-width: 400px;
    margin-right: auto;
    margin-left: auto;
}

.pagination img {
    height: 25px;
    position: relative;
    top: 5px;
}

#transactionPagination {
    position: relative;
    bottom: 15px;
}

.pagination .inactive {
    opacity: .3;
    cursor: default;
}


/* Fallback stuff */
progress[value] {
    appearance: none;
    border: none;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
    color: dodgerblue;
    display: inline;
    height: 10px;
    order: 1;
    position: relative;
    width: 100%;
  }
  
  /* WebKit styles */
  progress[value]::-webkit-progress-bar {
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
  }
  
  progress[value]::-webkit-progress-value {
    background-image: linear-gradient(to right, #00c8ff, #8605e2);
    border-radius: 3px;
    position: relative;
    transition: width 0.4s linear;
  }
  

  figcaption {
    align-items: center;
    background: #cccccc;
    display: grid;
    padding: 2px;
  }

  #cont {
    position: fixed;
    bottom: 10px;
    width: 100%;
    left: 0px;
  }

  #index {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 20px;
    right: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    display: flex;
    font-size: 28px;
    line-height: 28px;
    margin-left: auto;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    z-index: 999;
  }

  #date {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    bottom: 43px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
   
  }

  #location2 {
    display: flex;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 5px;
    margin-left: auto;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
  }

  #location1 {
    display: flex;
    font-size: 68px;
    line-height: 68px;
    margin-bottom: 5px;
    margin-left: auto;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
  }

  #date1 {
    border-radius: 20px;
    display: flex;
    line-height: 52px;
    margin-left: auto;
    background: rgba(0, 0, 0, 0.6);
    font-size: 52px;
    padding: 10px;
  }

  #isimage {
    margin-bottom: -30px;
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    height: 20px;
    margin-left: auto;
    background-color: white;
    opacity: 0.6;
    width: 320px;
    position: relative;
  }

  #insideimage {
    height: 100%;
    position: absolute;
    border-radius: 20px;
    background-color: rgb(255, 0, 38);
    z-index: 3;
    transition: width 0.5s linear;
  }
